@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Administrator - Dashboard</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Resources Distribution
                </div>
                <div class="panel-body" id="container">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">
                                <em>4 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">
                                <em>12 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">
                                <em>27 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">
                                <em>43 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">
                                <em>11:32 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                            <span class="pull-right text-muted small">
                                <em>11:13 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-warning fa-fw"></i> Server Not Responding
                            <span class="pull-right text-muted small">
                                <em>10:57 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                            <span class="pull-right text-muted small">
                                <em>9:49 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-money fa-fw"></i> Payment Received
                            <span class="pull-right text-muted small">
                                <em>Yesterday</em>
                            </span>
                        </a>
                    </div>
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
            </div>
            <!--<div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
            </div>-->
        </div>
    </div>
</div>

@section scripts{
    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="~/Scripts/highcharts.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            function formatWithLineBreaks(str) {
                var words = str.split(' ');
                var lines = [];
                var line = '';

                $.each(words, function(idx, word) {
                    if (line.length + word.length > 25) {
                        lines.push(line);
                        line = '';
                    }
                    line += word + ' ';
                });
                lines.push(line);
                return lines.join('<br />');
            };

            // Preparing the chart but with no data
            var chart;
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'pie',
                    borderWidth: 1
                },
                title: {
                    text: 'Total Assets Owned By BOU',
                },
                subtitle: {
                    text: 'Assets Value',
                },
                credits: {
                    position: {
                        align: 'right'
                    },
                    text: 'BOU-Projects',
                    http: 'http://bou.gov.ug'
                },
                series: [
                    {
                        data: [
                        ]
                    }
                ],
                plotOptions: {
                    pie: {
                        showInLegend: true,
                        slicedOffset: 20,
                        allowPointSelect: true,
                        dataLabels: {
                            formatter: function() {
                                var str = this.point.name + ': ' +
                                    Highcharts.numberFormat(this.y, 0);
                                return formatWithLineBreaks(str);
                            }
                        }
                    }
                }
            });
            // making the Ajax call to request for chart data
            $.ajax({
            url: '@Url.Action("GetResourcesCount", "ProjectResource")',
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                var series1 = [];
                chart.series[0].setData(series1, false);
                chart.redraw();
            });
        });
    </script>
}
