@model PManager.Domain.Entities.Team

@{
    ViewBag.Title = "Teams | Create New";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div id="page-wrapper" data-ng-controller="TeamsController">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">New Team </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form name="teamForm" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : teamForm.teamName.$invalid && !teamForm.teamName.$pristine }">
                    @Html.LabelFor(x => Model.Name)
                    <input type="text" name="teamName" class="form-control" data-ng-model="teamName" required />
                    <span ng-show="teamForm.teamName.$invalid && !teamForm.teamName.$pristine" class="error"><i class="fa fa-warning"></i> Name for the team is required.</span>
                </div>
                
                @*<div class="form-group" ng-class="{ 'has-error' : teamForm.projectCode.$invalid && !teamForm.projectCode.$pristine }">
                    @Html.Label("Project code")
                    <input type="text" class="form-control" data-ng-model="projectCode" required name="projectCode" />
                    <span ng-show="teamForm.projectCode.$invalid && !teamForm.projectCode.$pristine" class="error"><i class="fa fa-warning"></i> Code for the project is required.</span>
                </div>*@
                @*<div class="form-group" ng-class="{ 'has-error' : teamForm.projectDescription.$invalid && !teamForm.projectDescription.$pristine }">
                    @Html.Label("Project description")
                    <textarea class="form-control" data-ng-model="projectDescription" name="projectDescription" required></textarea>
                    <span ng-show="teamForm.projectDescription.$invalid && !teamForm.projectDescription.$pristine" class="error"><i class="fa fa-warning"></i> Description for the project is required.</span>
                </div>*@

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" data-ng-click="save()" ng-disabled="teamForm.$invalid" /> <a href="/Teams/Index" class="btn btn-default"> Back to list</a>
                </div>
            </form>
        </div>
    </div>
</div>