@model PManager.Domain.Entities.Project

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<link href="~/Content/jquery.steps.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<style type="text/css">
    .visible {
        visibility: visible;
    }

    .invisible {
        visibility: hidden;
    }
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">New Project</h3>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div id="wizard">
                    <h1>Step 1</h1>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Initialize Project Meta Data</h4>
                                <form role="form">
                                    <label>Code</label>
                                    <input class="form-control" name="ProjectCode" id="ProjectCode" />
                                    <label class="invisible" id="ProjectCodeLabel" style="color:#f00">* Required</label><br />
                                    <label>Name</label>
                                    <input class="form-control" name="Name" id="Name" />
                                    <label class="invisible" id="NameLabel" style="color:#f00">* Required</label><br />
                                    <label>Description</label>
                                    <textarea class="form-control" rows="6" name="Description" id="Description"></textarea>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <h4>Scope & Costs</h4>
                                <form role="form">
                                    <label>Estimated Budget</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" name="EstimatedBudget" id="EstimatedBudget" />
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                    <label class="invisible" id="EstimatedBudgetLabel" style="color:#f00">* Required</label><br />
                                    <label>Estimated Start Date</label>
                                    <input id="EstimatedStartDate" class="form-control" type="text" readonly="readonly" name="EstimatedStartDate" />
                                    <label class="invisible" id="EstimatedStartDateLabel" style="color:#f00">* Required</label><br />
                                    <label>Estimated End Date</label>
                                    <input id="EstimatedEndDate" class="form-control" type="text" readonly="readonly" name="EstimatedEndDate" />
                                    <label class="invisible" id="EstimatedEndDateLabel" style="color:#f00">* Required</label>
                                </form>
                            </div>
                        </div>
                    </div>

                    <h1>Step 2</h1>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Create Tasks</h4>
                                <form role="form">
                                    <label>Task Name</label>
                                    <input class="form-control" name="TaskName" id="TaskName" />
                                    <label class="invisible" id="TaskNameLabel" style="color:#f00">* Required</label><br />
                                    <label>Assigned To</label>
                                    @Html.DropDownList("UserId", ViewBag.UserList as SelectList, new { @class = "form-control" })<br />
                                    <label>Estimated Cost</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">Ug Shs</span>
                                        <input type="number" class="form-control" name="TaskEB" id="TaskEB" />
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                    <label class="invisible" id="TaskEstimatedBudgetLabel" style="color:#f00">* Required</label><br />
                                    <label>Estimated Start Date</label>
                                    <input class="form-control" name="TaskESD" id="TaskESD" readonly="readonly" />
                                    <label class="invisible" id="TaskESDLabel" style="color:#f00">* Required</label><br />
                                    <label>Estimated End Date</label>
                                    <input class="form-control" name="TaskEED" id="TaskEED" readonly="readonly" />
                                    <label class="invisible" id="TaskEEDLabel" style="color:#f00">* Required</label><br />
                                    <label>Task Description</label>
                                    <input class="form-control" name="TaskDescription" id="TaskDescription" />
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <h4>Tasks</h4>
                                <form role="form">

                                </form>
                            </div>
                        </div>
                    </div>

                    <h1>Step 3</h1>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Are you cure you want to submit?</h4>
                                <form role="form">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.steps.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $('#wizard').steps({
            onStepChanging: function (event, currentIndex, newIndex)
            {

                // allow going back even if the current step contains errors
                if (currentIndex > newIndex)
                {
                    return true;
                }

                // set the validation rules for the first form -> currentIndex = 0
                if (currentIndex === 0)
                {
                    var isvalid = true;
                    var projectcode = $('#ProjectCode').val();
                    var projectname = $('#Name').val();
                    var estimatedbudget = $('#EstimatedBudget').val();
                    var estimatedstartdate = $('#EstimatedStartDate').val();
                    var estimatedenddate = $('#EstimatedEndDate').val();

                    //project code field
                    if (!projectcode) {
                        $('#ProjectCodeLabel').removeClass('invisible').addClass('visible');
                        isvalid = false;
                    } else {
                        $('#ProjectCodeLabel').removeClass('visible').addClass('invisible');
                        console.log("Project Code: " + projectcode)
                    }

                    // name field validation
                    if (!projectname) {
                        $('#NameLabel').removeClass('invisible').addClass('visible');
                        isvalid = false;
                    } else {
                        $('#NameLabel').removeClass('visible').addClass('invisible');
                        console.log("Project Name: " + projectname)
                    }

                    // estimated budget field validation
                    if (!estimatedbudget) {
                        $('#EstimatedBudgetLabel').removeClass('invisible').addClass('visible');
                        isvalid = false;
                    } else {
                        $('#EstimatedBudgetLabel').removeClass('visible').addClass('invisible');
                        console.log("Estimated Budget: " + estimatedbudget)

                    }

                    // estimated start date field validation
                    if (!estimatedstartdate) {
                        $('#EstimatedStartDateLabel').removeClass('invisible').addClass('visible');
                        isvalid = false;
                    } else {
                        $('#EstimatedStartDateLabel').removeClass('visible').addClass('invisible');
                        console.log("Estimated Start Date: " + estimatedstartdate);
                    }

                    // estimated end date field validation
                    if (!estimatedenddate) {
                        $('#EstimatedEndDateLabel').removeClass('invisible').addClass('visible');
                        isvalid = false;
                    } else {
                        $('#EstimatedEndDateLabel').removeClass('visible').addClass('invisible');
                        console.log("Estimated End Date: " + estimatedenddate);
                    }

                    return isvalid;
                }
                
                // when the person is creating tasks
                if (currentIndex === 1) {
                    return true;
                }
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                console.log("New Step Index is: " + priorIndex);
            },
            onFinishing: function (event, currentIndex) {
            },
            onFinished: function (event, currentIndex) {
                console.log("Wizard has completed....");
            }
        });
        $('#EstimatedStartDate').datepicker();
        $('#EstimatedEndDate').datepicker();
    </script>
}