body {
}

.form-control, .alert,.btn,.panel {
    -ms-border-radius: 0;
    border-radius: 0;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.font-weight-normal {
    font-weight: normal;
}

.padding-top-15 {
    padding-top: 15px;
}

.select2-input {
    z-index: 200000000;
}

.no-padding {
    padding: 0;
}

#userTable tr td:first-child {
    width: 10em;
}

#userTable tr td {
    border-top: 0;
}

.select2-container-multi .select2-choices .select2-search-choice {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
background-color: #f2f5f9;
color: #333;
border: 1px solid #d6e2eb;
line-height: 13px;
padding: 3px 5px 3px 18px;
margin: 3px 0 3px 5px;
position: relative;
cursor: default;
}
.select2-container-multi .select2-choices li {
float: left;
list-style: none;
}

.select2-container-multi .select2-choices {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin: 0;
padding: 0;
cursor: text;
overflow: hidden;
height: auto !important;
height: 1%;
position: relative;
}

.select2-container-multi .select2-choices .select2-search-field input {
color: #666;
background: transparent !important;
font-size: 100%;
padding: 5px;
margin: 1px 0;
outline: 0;
border: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}

.error {
    color: #a94442;
}

.wizard ul, .tabcontrol ul {
list-style: none !important;
padding: 15px !important;
margin: 0;
}

.number {
    display: none !important;
}

.dataTables_empty {
    text-align: center !important;
    font-style: italic !important;
    color: #31708f !important;
}

.multi-select {
    padding: 0px 0 !important;
}


.select2-choices {
    height: 32px !important;
}

.select2-container .select2-choice {
    background-color: #fff;
    background-image: none; 
    border-radius: 0;
    background-image: none;
    border: 0;
    height: 32px;
}

    .select2-container .select2-choice span {
        line-height: 30px;
    }

.select2-container .select2-choice div {

background-image: none;
filter: none;
background-image: none;
 border-left: 0; 
position: absolute;
right: 0;
top: 0;
display: block;
height: 100%;
width: 18px;
}

.select2-container .select2-choice div {
    background-color: #ffffff;
}

.select2-container .select2-choice div b {
    display: block;
}

.select2-container.select2-drop-above .select2-choice {
-webkit-border-radius:0;
-moz-border-radius: 0;
border-radius: 0;
background-image: none;
filter: none;
background-image:none;
}

.select2-container-multi .select2-choices {
    border-radius: 0; 
     background-color: #fff; 
    border: none; 
   
}
.select2-container-multi .select2-choices {
 min-height: 30px; 
}

.fa-glyp-3 {
    font-size: 2em;
}

.select2-input {
    min-height: 29px;
    border-radius: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.no-left-padding-important {
    padding-left: 0 !important;
}

.no-right-padding-important {
    padding-right: 0 !important;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 650px;
        border-left: 1px solid #e7e7e7;
    }
}
